<% title 'Cambia tu contrase単a' %>
<div class="bg-header"></div>
<div class="wrap-xs">
  <div class="logo x-centered l"></div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "panel text-center form-panel" }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <h2>Cambia tu contrase単a</h2>
    <%= devise_error_messages! %>
    <ul class="form-fields">
      <li class="field"><%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "Nueva contrase単a", class: "input" %></li>
      <li class="field"><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Nueva contrase単a, otra vez", class: "input" %></li>
      <li class="field"><%= f.submit "Cambiar", class: "button expand" %></li>
    </ul>
  <% end %>
  <br>
  <small>
    <%= render "devise/shared/links" %>
  </small>
</div>
