<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @payment.account %>
</p>

<p>
  <strong>Regularity:</strong>
  <%= @payment.regularity %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @payment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @payment.end_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Name:</strong>
  <%= @payment.name %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
